.App {
  width: 1920px;
  height: 158px;
  background-image: url(/src/assets/images/background.PNG);
  background-size: 100%;
}

.App > #label {
  position: absolute;
  left: 68px;
  top: 38px;

  font-family: 'Bogle';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 83px;

  color: #FFFFFF;
}
.App > #girl1 {
  height: 230px;
  width: 197px;
  position: absolute;
  left: 1040px;
  top: 0px;
  background-size: 100%;
  background-repeat: no-repeat
}

.App > #girl2 {
  height: 157px;
  width: 322px;
  position: absolute;
  left: 1092px;
  top: 0px;
  background-size: 100%;
  background-repeat: no-repeat
}
.App > #back-image {
  height: 158px;
  width: 382px;
  position: absolute;
  right: 12px;
  top: 0px;
  background-size: 100%;
  background-repeat: no-repeat
}

.App > #back-image > #label {
  position: absolute;
  width: 268px;
  right: -50%;
  top: 50%;
  transform: translate(-75%, -50%);
  font-family: 'Bogle';
  font-style: normal;
  font-weight: 700;
  font-size: 250%;
  line-height: 1;
  
  color: #FFFFFF;
}